---
layout: default
---

{%- for my_page in site.pages -%}
    {%- if my_page.title and my_page.hide == false -%}
        <div class="row justify-content-center">
            <div class="col-md-{{ site.rows | default: 8 }}">
                <div class="table-responsive">
                    <table class="table" style="overflow: hidden;">
                        <thead>
                            <tr>
                                <td style="border-top: 0px;">
                                    <h5>{{ my_page.title }}</h5>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="small text-muted">
                                    <strong>{{ my_page.content }}</strong>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {%- endif -%}
{%- endfor -%}
<div class="row justify-content-center">
    <div class="col-md-{{ site.rows | default: 8 }}">
        <table class="table">
            <thead>
                <tr>
                    <td style="border-top: 0px;">
                        <h5>
                            Past Incidents
                            <a href="{{ '/feed.xml' | absolute_url }}" class="float-right text-muted" data-toggle="tooltip" title="Subscribe via RSS">
                                <i class="fas fa-rss fa-xs fa-fw"></i>
                            </a>
                        </h5>
                    </td>
                </tr>
            </thead>
            <tbody>
                {%- assign daten = 'now' | date: '%s' -%}
                {%- for item in (1..7) -%}
                    {%- assign isincident = false -%}
                    {%- assign datevar = daten | date: '%B %d, %Y' -%}
                    <tr>
                        <td>
                            <h6>{{ daten | date: '%B %d, %Y' }}</h6>
                            {%- for post in site.posts -%}
                                {%- assign postvar = post.date | date: '%B %d, %Y' -%}
                                {%- if datevar == postvar -%}
                                    {%- assign isincident = true -%}
                                    <div class="row small">
                                        <time class="col-md-2 text-monospace text-muted" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%R %z' | slice: 0, 9 }}</time>
                                        <strong class="col-md-10{% if post.status %} text-{{ post.status }}{% endif %}">{{ post.content | remove: '<p>' | remove: '</p>' }}</strong>
                                    </div>
                                {%- endif -%}
                            {%- endfor -%}
                            {%- if isincident == false -%}
                                <div class="row small">
                                    <time class="col-md-2 text-monospace text-muted" datetime="{{ datevar | date_to_xmlschema }}">{{ datevar | date: '%R %z' | slice: 0, 9 }}</time>
                                    <strong class="col-md-10 text-success">All systems normal.</strong>
                                </div>
                            {%- endif -%}
                        </td>
                    </tr>
                    {%- assign daten = daten | minus: 86400 -%}
                {%- endfor -%}
            </tbody>
        </table>
    </div>
</div>
{%- if site.twitter.widget == true -%}
<div class="row justify-content-center">
    <div class="col-md-{{ site.rows | default: 8 }}">
        <a class="twitter-timeline" data-height="500" data-link-color="#19CF86" href="{{ site.twitter.username | prepend: 'https://twitter.com/' | append: '?ref_src=twsrc%5Etfw' }}">Tweets by {{ site.twitter }}</a>
    </div>
</div>
{%- endif -%}
{% include card_footer.html %}
