
{% include config.html %}
<br>
<footer class="container font-weight-light">
    <div class="row justify-content-center">
        <div class="col-md-{{ site.rows | default: 8 }} small">
            <ul class="float-left list-inline">
                <a href="{{ email_url }}" class="list-inline-item">{{ site.email.footer_name }}</a>
                <a href="{{ twitter_url }}" class="list-inline-item">{{ site.twitter.footer_name }}</a>
            </ul>
            <span class="float-right">
                Powered by <a href="https://tophackr.com">tophackr</a>
            </span>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" type="text/javascript"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" type="text/javascript"></script>
<script type="text/javascript">$('[data-toggle="tooltip"]').tooltip();</script>
<script async src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>
