<!DOCTYPE html>
<html>
{% include header.html %}
<body>
    {% include navbar.html %}
    <div class="page-header">
        <div class="container">
            {{ content }}
        </div>
    </div>
    {% include footer.html %}
</body>
</html>
